-# ＜チャット画面＞
.chat-main
  .chat-main__group-info
    .group
      .group-name
        = @group.name
      %ul.title 
        Member : 
        %li.member 
          - @group.users.each do |user|
            = user.name
          

    .edit-btn
      =link_to "Edit", edit_group_path(params[:group_id])

  .chat-main__message-list
    = render @messages

  .chat-main__message-form
    = form_with model: [@group, @message], html: {class: "form"}, local: true do |form|
      .input-box
        = form.text_field :content, class: 'content', placeholder: "type a message"
        = form.label :image, class: 'input-box__image' do
          %i.fa.fa-image
          = form.file_field :image, class: 'input'
      = form.submit 'sent', class: "button"
